.header-body {
  div {
    display: flex;
    justify-content: space-between;
    align-items: center; 
  }

  // looks ugly for now, but will be different with background later on
  padding-top: 1em;
  margin: 0 1em 1em 1em;
  border: 1px solid black;
}
