@keyframes image-slide-show-from-down {
  0% {
    top: 100vh;
  }

  100% {
    top: 0;
  }
}

@keyframes image-slide-down {
  0% {
    top: 0;
  }

  100% {
    top: 100vh;
    filter: blur(8px);
  }
}

@keyframes image-slide-up {
  0% {
    top: 0;
  }

  100% {
    top: -100vh;
    filter: blur(8px);
  }
}

.image-hide-down {
  animation: image-slide-down 0.5s both;
}

.image-hide-up {
  animation: image-slide-up 0.5s both;
}

.image-show-from-down {
  animation: image-slide-show-from-down 0.5s both;
}

.image-show-from-up {
  animation: image-slide-show-from-up 0.5s both;
}
