* {
  margin: 0;
  padding: 0;
}

#app {

  #footer {
    display: flex;
    justify-content: center;
  }

  body {
    width: 100%;

    #owner {
      margin: 1em 1em 0 1em;
      display: block;
      transform: rotate(90deg);

      p {
        display: block;
      }
    }
  }

  #side-bars {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
