* {
  margin: 0;
  padding: 0;
}

#app {

  #footer {
    display: flex;
    justify-content: center;
  }

  body {
    
    #owner {
      margin: 1em 2em 0 1em;
      transform: rotate(90deg);
    }

    width: 100vw;
    position: absolute;
    top: 27vh;
  }

  #side-bars {
    display: flex;
    justify-content: space-between;
  }
}
