* {
  margin: 0;
  padding: 0;
}

// ensure parent containers take full screen space
#root,
#app {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .image-fullsize {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    z-index: -1;
  }
}

// marking for reference
.mark {
  border: black 1px solid;
}

// can be reused across multiple components
h1,
p {
}

.medium-spacing {
  padding: 2em;
}

.small-spacing {
  padding: 1em;
}

.order-row-between {
  display: flex;
  justify-content: space-between;
}

.half-width {
  width: 50vw;
}

.quarter-width {
  width: 25vw;
}

.full-width {
  width: 100vw;
}

// for header component
.order-header {
  display: flex;
  justify-content: space-between;
}

// for body component
.order-body {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;

  .order-body-main {
    display: flex;
    flex: 1 0 auto;

    .order-body-part {
      .order-body-part-content {
        height: 70%;
      }
    }

    .order-sidebar {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      aside {
        display: flex;
        writing-mode: vertical-lr;
        transform: rotate(180deg);

        p {
          cursor: pointer;
        }

        p:not(:last-child) {
          margin-bottom: 1.5em;
        }
      }
    }

    .order-body-part {
      flex: 1 0 auto;
    }
  }
}
