@tailwind base;
@tailwind components;
@tailwind utilities;

/* color theme to follow */
:root {
  --primary-color: #fb8b24;
  --secondary-color: #ffffff;
  --tertiary-color: #faf0e6;
  --quarternary-color: #003b40;
}

.primary-bg {
  background-color: var(--primary-color);
}

.secondary-bg {
  background-color: var(--secondary-color);
}
