@import url("https://fonts.googleapis.com/css2?family=Average+Sans&family=Rufina:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* color theme and font pairing to follow */
:root {
  --primary-color: #fb8b24;
  --secondary-color: #ffffff;
  --tertiary-color: #f8f8f8;
  --quarternary-color: #01232b;
  --header-font: "Rufina", Georgia, Serif;
  --body-font: "Average Sans", Verdana, sans-serif;
}

.primary-bg {
  background-color: var(--primary-color);
}

.secondary-bg {
  background-color: var(--secondary-color);
}

.tertiary-bg {
  background-color: var(--tertiary-color);
}

.quarternary-bg {
  background-color: var(--quarternary-color);
}

.header-font {
  font-family: var(--header-font);
}

.body-font {
  font-family: var(--body-font);
}
