@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&family=Source+Sans+3:ital,wght@0,300;0,400;0,700;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* color theme and font pairing to follow */
:root {
  --primary-color: #f05b1b;
  --secondary-color: #ffffff;
  --tertiary-color: #f8e182;
  --quarternary-color: #f59b3e;
  --header-font: "Raleway", Georgia, Serif;
  --body-font: "Source Sans 3", Verdana, sans-serif;
}

.primary-bg {
  background-color: var(--primary-color);
}

.secondary-bg {
  background-color: var(--secondary-color);
}

.tertiary-bg {
  background-color: var(--tertiary-color);
}

.quarternary-bg {
  background-color: var(--quarternary-color);
}

.header-font {
  font-family: var(--header-font);
}

.body-font {
  font-family: var(--body-font);
}
