.footer-body {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  position: fixed;
  bottom: 0;
  width: 50%;

  .first-half {
    width: 50%;
    display: flex;

    i {
      display: flex;
      justify-content: space-between;
    }
  }

  .second-half {
    width: 50%;
  }
}
