.footer {
  display: flex;
  justify-content: space-between;
  margin: 0.5em 0.5em 0 0.5em;
  border: 1px solid black;

  .first-half {
    width: 50%;
    display: flex;

    i {
      display: flex;
      justify-content: space-between;
    }
  }

  .second-half {
    width: 50%;
  }
}
