.order-body-part-footer {
  display: flex;
  flex-direction: row;
  height: 20%;
  background-color: white;
  position: absolute;

  .card-footer {
    display: flex;
    max-width: 20%;
    padding-right: 1em;

    .card-image-part-footer {
      display: flex;
      max-width: 25%;

      img {
        height: 100%;
        width: 100%;
      }
    }

    .card-caption-part-footer {
      padding-left: 1em;
      width: 100%;
    }
  }

  #button-footer {
    cursor: pointer;
    background-color: white;
    border: none;
    margin-right: 3em;
    margin-left: -0.5em;

    #caption {
      writing-mode: vertical-lr;
      transform: rotate(180deg);

      p {
        font-weight: 600;
      }
    }
  }

  h3 {
    padding-bottom: 0.5em;
  }

  p {
    color: black;
    line-height: 1.35;
  }
}
